.display-1 {
    font-size: 6rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .display-1 {
        font-size: calc(1.725rem + 5.7vw);
    }
}

.display-2 {
    font-size: 5.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .display-2 {
        font-size: calc(1.675rem + 5.1vw);
    }
}

.display-3 {
    font-size: 4.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .display-3 {
        font-size: calc(1.575rem + 3.9vw);
    }
}

.display-4 {
    font-size: 3.5rem;
    font-weight: 300;
    line-height: 1.2;
}

@media (max-width: 1200px) {
    .display-4 {
        font-size: calc(1.475rem + 2.7vw);
    }
}