img {
	max-width: 100%;
	height: auto;
	}
	
	.video-content {
		/* background-color: black; */
		align-items: center;
		display: flex;
		overflow: hidden;
		background-image: url(https://zzse-007.sandbox.us01.https://zzse-007.sandbox.us01.dx.commercecloud.salesforce.com/on/demandware.static/-/Sites-smart-Library/default/dw8a4d355d/images/NewSmartCars.jpg);
		background-size: cover;
		position: relative;
	}
	
	.js-video .video-content img{
		display:none;
	}
	
	.hover-image {
		flex-direction: column;
		justify-content: center;
		position: absolute;
		left: 0;
		text-align: center;	
		color: #FACE48	
	}
	
	.hover-image.left { 
		width : 50%
	}
	
	.hover-image.middle { 
		width : 100%
	}
	
	.hover-image.right { 
		width : 150%
	}
	
	.box {
		max-width: 160px;
		padding: 4px 16px;   
		color: #FACE48;
		border-color: #FACE48;
		border: 1px solid #FACE48;
	}
	
	section button {
		margin: 0 auto;
		font-size: 17px;
		padding: 10px 50px;
		display: block;
		background-color: #009ac9;
		border: 1px solid transparent;
		color: #ffffff;
		font-weight: 300;
		border-radius: 3px;
		transition: all 0.3s ease-in-out
	}
	
	section button:hover {
		background-color: #ffffff;
		color: #009ac9;
		border-color: #009ac9
	}
	
	.pstyle{
		padding-top:20px;
	}